# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
/.nb-gradle/

# IDEA
.idea/
*.iml

# Output
out/

# Jekyll
_site
.sass-cache

# Logs
2git*.log

# Specific command files
customers/*
*.swp

# 2git log files
2git-[-_0-9]*.log
logs
cc2git
