# dev
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
/.nb-gradle/
output/

bin/
.project
.settings
.classpath

.vscode

.idea/
*.iml
out/

_site
.sass-cache

# Logs
2git*.log

# Specific command files
customers/*
*.swp
